.main {
    overflow: hidden;
}

/* Navbar */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#f63,#f53d2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.navbar__list {
    padding: 0;
    margin: 8px 0 0 0;
    list-style-type: none;
    display: flex;
}

.navbar__item {
    display: inline-block;
    margin: 0 6px;
    position: relative;
}

.navbar__item-link,
.navbar__item {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 200;
    font-size: 1.3rem;
}

.navbar__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar__item--strong {
    font-weight: 500;
}

.navbar__item--show-child:hover .download,
.navbar__item--show-child:hover .navbar__notify,
.navbar__item--show-child:hover .navbar__user-option-list {
    display: block;
}

.navbar__item-separate::after {
    content: '';
    display: block;
    height: 1.5rem;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon-link:first-child {
    margin-left: 4px;
}

.navbar__item,
.navbar__icon-link,
.navbar__item-link {
    display: flex;
    align-items: center;
}

.navbar__item-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 8px;
}

.navbar__item-user-name {
    margin-left: 8px;
}

/* QR Code --- download */

.download {
    position: absolute;
    top: 130%;
    left: -2px;
    width: 190px;
    background-color: var(--white-color);
    padding: 2px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.download::before {
    position: absolute;
    left: 0;
    top: -8px;
    content: '';
    display: block;
    width: 100%;
    height: 20px;
}

.download__qr {
    width: 100%;
}

.download__apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.download__app {
    height: 16px;
    margin: 4px 0;
    min-width: 75px;
}

.download__app:nth-child(even) {
    margin-right: 12px;
}

.download__app:nth-child(odd) {
    margin-left: 12px;
}

/* Notification --- navbar-notify */

.navbar__notify {
    position: absolute;
    top: 150%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 404px;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: showNotify ease-in 0.2s;
    z-index: 4;
}

.navbar__notify::before {
    content: '';
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 20px 28px;
    position: absolute;
    top: -30px;
    right: 4px;
    cursor: pointer;
}

.navbar__notify::after {
    position: absolute;
    right: 0;
    top: -16px;
    content: '';
    display: block;
    width: 150px;
    height: 20px;
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.navbar__notify-header h3 {
    margin: 0 0 0 16px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.5);
}

.navbar__notify-info:hover {
    background-color: #f7f7f7;
}

.navbar__notify-view {
    background-color: rgba(238, 77, 45, 0.08);
}

.navbar__notify-link {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    text-decoration: none;

}

.navbar__notify-img {
    width: 40px;
    object-fit: contain;
}

.navbar__notify-content {
    flex: 1;
    margin-left: 4px;
}

.navbar__notify-title {
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 4px;
    line-height: 1.4;
}

.navbar__notify-description {
    display: block;
    font-size: 1.3rem;
    color: #999494;
    line-height: 1.2;
}

.navbar__notify-btn {
    width: 100%;
    border: none;
    padding: 12px;
    background-color: var(--white-color);
}

.navbar__notify-btn:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

/* User option */
.navbar__user-option-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 150px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: var(--white-color);
    list-style-type: none;
    padding-left: 0;
    z-index: 3;
    transform-origin: 50% top;
    animation: showNotify ease 0.2s;
    display: none;
}

.navbar__user-option-list::before {
    content: "";
    width: 124px;
    height: 16px;
    position: absolute;
    top: -16px;
    right: 0;
}

.navbar__user-option-list::after {
    content: "";
    position: absolute;
    top: -24px;
    right: 36px;
    cursor: pointer;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.navbar__user-option-item {
    padding: 12px 16px;
    cursor: pointer;
}

.navbar__user-option-item:hover .navbar__user-option-link {
    color: #0088ff;
}

.navbar__user-option-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}


/* Form auth */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    padding: 4px;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-top: 16px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__more {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 12px;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 12px 36px;
    margin-top: 18px;
}

.btn--with-icon {
    padding-left: 12px;
}

.auth-form__social-icon {
    font-size: 1.8rem;
    width: 10%;
    text-align: center;
}

.auth-form__social--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
    flex: 1;
}

.auth-form__social--google { 
    color: var(--text-color);
    flex: 1;
    margin-left: 12px;
}

.auth-form__social-contact {
    width: 90%;
    text-align: center;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help--forget {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    margin: -2px 16px 0;
    height: 20px;
}

/* Header search */
.header-with-search {
    width: 100%;
    height: var(--header-with-search);
    display: flex;
    align-items: center;
}

.show-mobile-menu:checked ~ ul {
    display: block;
}

.header-mobile__menu {
    padding: 0 12px;
    display: none;
}

.header-mobile__menu-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.mobile-menu__list {
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    width: 100%;
    animation: sideIn ease-in 0.3s;
    display: none;
}

@keyframes sideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu__close {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.mobile-menu__item {
    border-bottom: 1px solid var(--border-color);
}

.mobile-menu__link {
    display: block;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 2.6rem;
    color: var(--text-color);
    line-height: 2.8rem;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    display: block;
    line-height: 0;
    text-decoration: none;
    background-color: transparent;
}

.header__logo-icon {
    width: 160px;
    height: 50px;
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0 12px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: calc(100% - 24px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: #999494;
    padding-left: 12px;
}

.header__search-history-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-item {
    height: 32px;
}

.header__search-history-item:hover {
    background-color: #f5f5f5;
}

.header__search-history-item a {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding-left: 12px;
    line-height: 32px;
}

.header__search-select {
    height: 70%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.87);
}

.header__search-select-icon {
    font-size: 1.2rem;
    padding: 0 12px 0 8px;
}

.header__search-option {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 0px;
    width: 130px;
    display: none;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    top: -10px;
    left: 0;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    height: 36px;
    padding-left: 16px;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: rgb(228, 228, 228);
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    flex: 1;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 0 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    height: 34px;
    width: 60px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.5rem;
}

/* Cart product */
.header__cart {
    width: 140px;
    text-align: center;
}

.header__cart-wrap {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 0;
    position: relative;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-notify {
    position: absolute;
    font-size: 1.4rem;
    color: var(--primary-color);
    top: -4px;
    right: -4px;
    background-color: var(--white-color);
    padding: 0px 7px;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-list {
    position: absolute;
    z-index: 1;
    cursor: default;
    top: calc(100% + 7px);
    right: -6px;
    width: 400px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.08);
    transform-origin: calc(100% - 20px) top;
    animation: showNotify ease-in 0.2s;
    display: none;
}

.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -24px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-no-cart-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 16px;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}

.header__cart-list-heading {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    padding-left: 12px;
    color: #919191;
}

.header__cart-list-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
    max-height: 47vh;
    overflow-y: auto;
}

.header__cart-list-item {
    display: flex;
    padding: 10px 0;
}

.header__cart-list-item:hover {
    background-color: #f8f8f8;
}

.header__cart-list-img {
    width: 40px;
    height: 40px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
}

.header__cart-list-product {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-list-product-name {
    flex: 1;
    padding-right: 32px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--text-color);
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    cursor: text;
}

.header__cart-list-product-cost {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: text;
}

.header__cart-show-all-btn {
    float: right;
    margin: 12px;
}

.header__cart-show-all-btn:hover {
    background-color: #e75d41;
}

/* Header sort bar */
.sort-bar__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: var(--white-color);
    height: var(--sort-bar-height);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: none;
}

.sort-bar__item {
    flex: 1;
    display: flex;
    position: relative;
}

.sort-bar__item--active .sort-bar__link {
    color: var(--primary-color);
}

.sort-bar__item:not(:first-child)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 60%;
    border-left: 1px solid var(--border-color);
    transform: translateY(-50%);
}

.sort-bar__link {
    margin: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: var(--sort-bar-height);
    color: var(--text-color);
}

.sort-bar__item-arrow {
    display: inline-flex;
    flex-direction: column;
}

.sort-bar__item-arrow-icon {
    font-size: 0.9rem;
    margin-left: 8px;
}

/* Container */
.container {
    background-color: #f5f5f5;
    padding-top: 36px;
}

/* Category */
.category {
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.85);
    padding: 16px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}

.category__heading-icon {
    position: relative;
    top: -1px;
    font-size: 1.4rem;
    margin-right: 6px;
}

.category__list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category__item--active .category__item-link {
    color: var(--primary-color);
}

.category__item--active .category__item-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 13px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(-50%);
}

.category__item-link {
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    padding: 8px 8px 8px 26px;
    right: 0;
    transition: right linear 0.1s;
    display: block;
}

.category__item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home Filter */ 
.home-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 12px 16px;
}

.home-filter__navbar{
    display: flex;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #444;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__switch {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 34px;
}

.home-filter__switch-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #ccc;
}

.home-filter__switch-btn:first-child {
    border-right: 1px solid #eaeaea;
}

.home-filter__switch-btn:hover {
    background-color: var(--white-color);
}

.home-filter__switch-btn--disabled {
    background-color: var(--white-color);
    cursor: default;
}

.home-filter__switch-btn--disabled .home-filter__btn-icon {
    color: #ccc;
}

.home-filter__btn-icon {
    font-size: 1.2rem;
    margin: auto;
}

/* Mobile Category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
    padding-left: 0px;
    overflow-y: hidden;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 8px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link {
    background-color: #88cf81;
}

.mobile-category__link {
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: var(--line-height);
    width: 110px;
    height: calc(var(--line-height) * 2);
    text-align: center;
    color: var(--white-color);
    border-radius: 4px;
    padding: 0 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/* List product */ 
.product-list {
    margin-bottom: 10px;
}

.product-list__item {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.product-list__item:hover {    
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.product-list__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-list__item-body {
    padding: 10px;
}

.product-list__item-title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.product-list__item-price {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8rem;
    align-items: baseline;
}

.product-list__item-price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 8px;
}

.product-list__item-price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.product-list__item-action {
    display: flex;
    justify-content: space-between;
}

.product-list__item-like {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.product-list__item-like-icon-empty {
    color: #919191;
}

i.product-list__item-like-icon-fill {
    color: rgb(245, 61, 47);
    display: none;
}

.product-list__item-like--liked .product-list__item-like-icon-fill {
    display: inline-block;
}

.product-list__item-like--liked .product-list__item-like-icon-empty {
    display: none;
}

.product-list__item-star {
    margin-left: auto;
    font-size: 0.8rem;
    color: #cfcfcf;
}

.product-list__item-star--gold {
    color: #ffce3d;
}

.product-list__item-sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.product-list__item-origin {
    display: flex;
    justify-content: space-between;
    color: #666;
}

.product-list__item-brand {
    font-size: 1.3rem;
}

.product-list__item-national {
    font-size: 1.3rem;
}

.product-list__item-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #f25220;
    background-color: currentColor;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 1.6rem;
    display: flex;
    align-items: center;
}

.product-list__item-favorite::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.product-list__item-favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 4px 0 5px;
}

.product-list__item-favorite span {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.product-list__item-sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    background-color: rgba(255, 212, 36, 0.9);
    text-align: center;
}

.product-list__item-sale::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border-width: 0 18px 4px;
    border-style: solid;
    color: rgba(255, 212, 36, 0.9);
    border-color: transparent currentColor;
}

.product-list__item-sale-percent {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ee4d2d;
    line-height: 1.4rem;
    display: block;
    padding-top: 2px;
}

.product-list__item-sale-off {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    display: block;
    color: var(--white-color);
}

/* Home pagination */
.home-pagination {
    margin: 48px 0 160px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    background-color: #fbfbfb;
}

.footer__heading {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #666;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.8rem;
    padding-right: 8px;
    color: #444;
}

.footer-download {
    display: flex;
}

.footer-download__link {
    text-decoration: none;
    background-color: transparent;
}

.footer-download__QR {
    width: 86px;
    height: 86px;
    border: 1px solid var(--border-color);
    margin-right: 16px;
}

.footer-download__apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.footer-download__app-icon {
    width: 80px;
}

.footer-bottom {
    background-color: #f5f5f5;
    padding: 16px 0;
}

.footer-text {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}